{
  "presets": [["@babel/preset-env"]],
  "plugins": [
    ["transform-vue-jsx"],
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
  ]
}
